@model n01629177_passion_project.Models.ItemSerializable

@{
    ViewBag.Title = Model.Brand + " " + @Model.Name + " " + @Model.Variant;
}

<h2 class="text-capitalize">@Model.Brand - @Model.Name - @Model.Variant</h2>

<section class="row">

  <h3>Price Data</h3>
  <a class="btn btn-primary" href="/Price/CreateInput?itemId=@Model.ItemId">Create a new Price Entry</a>

</section>


<section class="row">

  <h3>Promo Data</h3>
  <a class="btn btn-primary" href="#">Create a new Promo Entry</a>

</section>



